<a routerLink="/principal"><img src='./assets/static/volver.png' class='img-volver'></a>
<registro-participantes (emitter)="emision($event)"></registro-participantes>

<hr>

<lista-participantes [participantes] = 'participantes' [msn] = 'mensaje' (emitter)="emision($event)"></lista-participantes>

<input *ngIf = "mostrando == false" type="button" class='main-button' (click) = "getParticipantes()" value="Ver Participantes Actuales">
<input *ngIf = "mostrando == true" type="button" class='main-button' (click) = "hideParticipantes()" value="Ocultar Lista">