p { width: 100%; margin-top: 1vh; text-align: center; font-size: 64px }
button { margin-left: 3%; width: 15%}
a:link { color: white; text-decoration: none }
a:visited { color: white; text-decoration: none }
a:hover { color: cyan; text-decoration: none }

.img-container { width: 100%; margin-left: 33% }
img { margin: auto; width: 30% }
.options-container{ margin-left: 5% }